<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork900-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

***Note***:- If you are working Locally using anaconda, please uncomment the following code and execute it.
Use the version as per your python version.

In [50]:
!pip install yfinance==0.1.67
!mamba install bs4==4.10.0 -y
!pip install nbformat==4.2.0

Collecting yfinance==0.1.67
  Downloading yfinance-0.1.67-py2.py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: pandas>=0.24 in /opt/conda/lib/python3.12/site-packages (from yfinance==0.1.67) (2.2.3)
Requirement already satisfied: numpy>=1.15 in /opt/conda/lib/python3.12/site-packages (from yfinance==0.1.67) (2.2.5)
Requirement already satisfied: requests>=2.20 in /opt/conda/lib/python3.12/site-packages (from yfinance==0.1.67) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /opt/conda/lib/python3.12/site-packages (from yfinance==0.1.67) (0.0.11)
Collecting lxml>=4.5.1 (from yfinance==0.1.67)
  Downloading lxml-5.4.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.5 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas>=0.24->yfinance==0.1.67) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas>=0.24->yfinance==0.1.67) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas>=0.24->yfinance==0.1.67) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/conda/lib/python3.12/site-packages (from requests>=2.20->yfinance==0.1.67) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.12/site-packages (from requests>=2.20->yfinance==0.1.67) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.12/site-packages (from requests>=2.20->yfinance==0.1.67) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.12/site-packages (from requests>=2.20->yfinance==0.1.67) (2024.12.14)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=0.24->yfinance==0.1.67) (1.17.0)
Downloading yfinance-0.1.67-py2.py3-none-any.whl (25 kB)
Downloading lxml-5.4.0-cp312-cp312-manylinux_2_28_x86_64.whl (5.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.0/5.0 MB 122.8 MB/s eta 0:00:00
Installing collected packages: lxml, yfinance
  Attempting uninstall: yfinance
    Found existing installation: yfinance 0.2.56
    Uninstalling yfinance-0.2.56:
      Successfully uninstalled yfinance-0.2.56
Successfully installed lxml-5.4.0 yfinance-0.1.67
[+] 0.0s
[+] 0.1s
conda-forge/linux-64 ━━━━━━━━━━━╸━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.0s
[+] 0.2s━━━━━━━━━━━━  14.1kB /  20.1MB @ 226.7kB/s  0.0s
conda-forge/linux-64 ━━━━━━━━━━━━━━━━━━━━━━━   1.9MB /  43.5MB @  11.7MB/s  0.1s
[+] 0.3s━━━━━━━━━━━━   6.5MB /  20.1MB @  38.8MB/s  0.1s
conda-forge/linux-64 ━━╸━━━━━━━━━━━━━━━━━━━━   6.8MB /  43.5MB @  25.2MB/s  0.2s
[+] 0.4s━╸━━━━━━━━━━  11.6MB /  20.1MB @  42.6MB/s  0.2s
conda-forge/linux-64 ━━━━╸━━━━━━━━━━━━━━━━━━  11.7MB /  43.5MB @  31.4MB/s  0.3s
[+] 0.5s━━━━━━╸━━━━━  16.3MB /  20.1MB @  43.4MB/s  0.3s
conda-forge/linux-64 ━━━━━━╸━━━━━━━━━━━━━━━━  13.7MB /  43.5MB @  32.3MB/s  0.4s
conda-forge/noarch                                  20.1MB @  43.1MB/s  0.5s
[+] 0.6s
[+] 0.7s━━━━╸━━━━━━━━━━━━━━━  15.7MB /  43.5MB @  28.5MB/s  0.5s
[+] 0.8s━━━━━━━━╸━━━━━━━━━━━  24.2MB /  43.5MB @  36.9MB/s  0.6s
[+] 0.9s━━━━━━━━━━━━━╸━━━━━━  32.8MB /  43.5MB @  43.3MB/s  0.7s
[+] 1.0s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  0.8s
[+] 1.1s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  0.9s
[+] 1.2s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  1.0s
[+] 1.3s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  1.1s
[+] 1.4s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  1.2s
[+] 1.5s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  1.3s
[+] 1.6s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  1.4s
[+] 1.7s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  1.5s
[+] 1.8s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  1.6s
[+] 1.9s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  1.7s
[+] 2.0s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  1.8s
[+] 2.1s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  1.9s
[+] 2.2s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  2.0s
[+] 2.3s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  2.1s
[+] 2.4s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  2.2s
[+] 2.5s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  2.3s
[+] 2.6s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  2.4s
[+] 2.7s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  2.5s
[+] 2.8s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  2.6s
[+] 2.9s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  2.7s
[+] 3.0s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  2.8s
[+] 3.1s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  2.9s
[+] 3.2s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  3.0s
[+] 3.3s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  3.1s
[+] 3.4s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  3.2s
[+] 3.5s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  3.3s
[+] 3.6s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  3.4s
[+] 3.7s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  3.5s
[+] 3.8s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  3.6s
[+] 3.9s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  3.7s
[+] 4.0s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  3.8s
[+] 4.1s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  3.9s
[+] 4.2s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  4.0s
[+] 4.3s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  4.1s
[+] 4.4s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  4.2s
[+] 4.5s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  4.3s
[+] 4.6s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  4.4s
[+] 4.7s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  4.5s
[+] 4.8s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  4.6s
[+] 4.9s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  4.7s
[+] 5.0s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  4.8s
[+] 5.1s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  4.9s
[+] 5.2s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  5.0s
[+] 5.3s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  5.1s
[+] 5.4s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  5.2s
[+] 5.5s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  5.3s
[+] 5.6s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  5.4s
[+] 5.7s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  5.5s
[+] 5.8s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  5.6s
[+] 5.9s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  5.7s
[+] 6.0s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  5.8s
[+] 6.1s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  5.9s
[+] 6.2s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  6.0s
[+] 6.3s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  6.1s
[+] 6.4s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  6.2s
[+] 6.5s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  6.3s
[+] 6.6s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  6.4s
[+] 6.7s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  6.5s
[+] 6.8s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  6.6s
[+] 6.9s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  6.7s
[+] 7.0s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  6.8s
[+] 7.1s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  6.9s
[+] 7.2s━━━━━━━━━━━━━━━━━━╸━  42.0MB /  43.5MB @  48.9MB/s  7.0s
conda-forge/linux-64                                43.5MB @  48.9MB/s  7.2s
DEPRECATION: --no-python-version-warning is deprecated. pip 25.1 will enforce this behaviour change. A possible replacement is to remove the flag as it's a no-op. Discussion can be found at https://github.com/pypa/pip/issues/13154

Pinned packages:

  - python=3.12

Pinned packages:

  - python=3.12


Transaction

  Prefix: /opt/conda

  Updating specs:

   - bs4==4.10.0


  Package           Version  Build         Channel          Size
──────────────────────────────────────────────────────────────────
  Install:
──────────────────────────────────────────────────────────────────

  + bs4              4.10.0  hd8ed1ab_0    conda-forge       4kB

  Downgrade:
──────────────────────────────────────────────────────────────────

  - beautifulsoup4   4.12.3  pyha770c72_1  conda-forge     118kB
  + beautifulsoup4   4.10.0  pyha770c72_0  conda-forge      79kB

  Summary:

  Install: 1 packages
  Downgrade: 1 packages

  Total download: 84kB

──────────────────────────────────────────────────────────────────



Transaction starting
[+] 0.0s
Downloading      -----------------------   0.0 B                            0.0s
beautifulsoup4                                      79.2kB @ 209.1kB/s  0.0s     0.0s
[+] 0.1s
Downloading  (1) -----------------------  79.2kB bs4                        0.0s
bs4                                                  4.3kB @  ??.?MB/s  0.0slsoup4             0.0s
Unlinking beautifulsoup4-4.12.3-pyha770c72_1
Linking beautifulsoup4-4.10.0-pyha770c72_0
Linking bs4-4.10.0-hd8ed1ab_0

Transaction finished

Collecting nbformat==4.2.0
  Downloading nbformat-4.2.0-py2.py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.12/site-packages (from nbformat==4.2.0) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /opt/conda/lib/python3.12/site-packages (from nbformat==4.2.0) (4.23.0)
Requirement already satisfied: jupyter-core in /opt/conda/lib/python3.12/site-packages (from nbformat==4.2.0) (5.7.2)
Requirement already satisfied: traitlets>=4.1 in /opt/conda/lib/python3.12/site-packages (from nbformat==4.2.0) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in /opt/conda/lib/python3.12/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (25.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/conda/lib/python3.12/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /opt/conda/lib/python3.12/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/conda/lib/python3.12/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (0.22.3)
Requirement already satisfied: platformdirs>=2.5 in /opt/conda/lib/python3.12/site-packages (from jupyter-core->nbformat==4.2.0) (4.3.6)
Requirement already satisfied: typing-extensions>=4.4.0 in /opt/conda/lib/python3.12/site-packages (from referencing>=0.28.4->jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (4.12.2)
Downloading nbformat-4.2.0-py2.py3-none-any.whl (153 kB)
Installing collected packages: nbformat
  Attempting uninstall: nbformat
    Found existing installation: nbformat 5.10.4
    Uninstalling nbformat-5.10.4:
      Successfully uninstalled nbformat-5.10.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
nbclient 0.10.2 requires nbformat>=5.1, but you have nbformat 4.2.0 which is incompatible.
jupyter-server 2.15.0 requires nbformat>=5.3.0, but you have nbformat 4.2.0 which is incompatible.
nbconvert 7.16.5 requires nbformat>=5.7, but you have nbformat 4.2.0 which is incompatible.
Successfully installed nbformat-4.2.0

In [86]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [52]:
import plotly.io as pio
pio.renderers.default = "iframe"

In Python, you can ignore warnings using the warnings module. You can use the filterwarnings function to filter or ignore specific warning messages or categories.

In [53]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Define Graphing Function

In this section, we define the function `make_graph`. **You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.**

In [54]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

Use the make_graph function that we’ve already defined. You’ll need to invoke it in questions 5 and 6 to display the graphs and create the dashboard. 
> **Note: You don’t need to redefine the function for plotting graphs anywhere else in this notebook; just use the existing function.**

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [55]:
tesla = yf.Ticker("TSLA")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to ` "max" ` so we get information for the maximum amount of time.

In [56]:
tesla_data = tesla.history(period="max")

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [57]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm Save the text of the response as a variable named `html_data`.

In [58]:
url ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
html_data = requests.get(url).text

Parse the html data using `beautiful_soup` using parser i.e `html5lib` or `html.parser`.

In [59]:
beautiful_soup = BeautifulSoup(html_data, "html.parser")

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Step-by-step instructions</summary>

```

Here are the step-by-step instructions:

1. Create an Empty DataFrame
2. Find the Relevant Table
3. Check for the Tesla Quarterly Revenue Table
4. Iterate Through Rows in the Table Body
5. Extract Data from Columns
6. Append Data to the DataFrame

```
</details>

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1

We are focusing on quarterly revenue in the lab.
```

</details>

In [92]:
tesla_revenue = pd.DataFrame(columns=["Date", "Revenue"])

for row in beautiful_soup.find_all("tbody")[1].find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text
    tesla_revenue = pd.concat([
    tesla_revenue,
    pd.DataFrame([{"Date": date, "Revenue": revenue}])], ignore_index=True)
    tesla_revenue
print(tesla_revenue)

          Date Revenue
0   2020-04-30  $1,021
1   2020-01-31  $2,194
2   2019-10-31  $1,439
3   2019-07-31  $1,286
4   2019-04-30  $1,548
..         ...     ...
57  2006-01-31  $1,667
58  2005-10-31    $534
59  2005-07-31    $416
60  2005-04-30    $475
61  2005-01-31    $709

[62 rows x 2 columns]

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [66]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")
tesla_revenue.head()

         Date  Revenue
0  2022-09-30  $21,454
1  2022-06-30  $16,934
2  2022-03-31  $18,756
3  2021-12-31  $17,719
4  2021-09-30  $13,757

Execute the following lines to remove an null or empty strings in the Revenue column.

In [67]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [68]:
tesla_revenue.tail()

          Date Revenue
48  2010-09-30     $31
49  2010-06-30     $28
50  2010-03-31     $21
52  2009-09-30     $46
53  2009-06-30     $27

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [69]:
GameStop = yf.Ticker("GME")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to ` "max" ` so we get information for the maximum amount of time.

In [94]:
gme_data = GameStop.history(period="max")
gme_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
2002-02-14 00:00:00-05:00,1.712707,1.716073,1.670626,1.683250,11021600,0.0,0.0
2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
2002-02-19 00:00:00-05:00,1.666417,1.666417,1.578047,1.607504,7410400,0.0,0.0
2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0
...,...,...,...,...,...,...,...
2025-04-21 00:00:00-04:00,26.709999,27.040001,25.790001,26.770000,7690000,0.0,0.0
2025-04-22 00:00:00-04:00,26.990000,27.940001,26.879999,27.799999,11065900,0.0,0.0
2025-04-23 00:00:00-04:00,28.200001,28.250000,26.959999,27.120001,8862700,0.0,0.0
2025-04-24 00:00:00-04:00,27.100000,27.580000,26.840000,27.080000,6212100,0.0,0.0
2025-04-25 00:00:00-04:00,27.129999,27.799999,27.129999,27.459999,5826700,0.0,0.0

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [71]:
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Save the text of the response as a variable named `html_data_2`.

In [72]:
url ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
html_data = requests.get(url).text

Parse the html data using `beautiful_soup` using parser i.e `html5lib` or `html.parser`.

In [73]:
beautiful_soup = BeautifulSoup(html_data, "html.parser")

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column.

> **Note: Use the method similar to what you did in question 2.**

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [80]:
gme_rows = []

for row in beautiful_soup.find_all("tbody")[1].find_all("tr"):
    col = row.find_all("td")
    if len(col) >= 2:
        date = col[0].text.strip()
        revenue = col[1].text.strip()
        gme_rows.append({"Date": date, "Revenue": revenue})

gme_revenue = pd.DataFrame(gme_rows)
gme_revenue["Revenue"] = gme_revenue["Revenue"].str.replace(',|\$', '', regex=True)

print(gme_revenue)

          Date Revenue
0   2020-04-30    1021
1   2020-01-31    2194
2   2019-10-31    1439
3   2019-07-31    1286
4   2019-04-30    1548
..         ...     ...
57  2006-01-31    1667
58  2005-10-31     534
59  2005-07-31     416
60  2005-04-30     475
61  2005-01-31     709

[62 rows x 2 columns]

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [76]:
gme_revenue.tail()

          Date Revenue
57  2006-01-31    1667
58  2005-10-31     534
59  2005-07-31     416
60  2005-04-30     475
61  2005-01-31     709

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. Note the graph will only show data upto June 2021.

<details><summary>Hint</summary>

```

You just need to invoke the make_graph function with the required parameter to print the graphs.The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`.

```
    
</details>

In [90]:
make_graph(tesla_data, tesla_revenue, 'Tesla')

/tmp/ipykernel_545/2068038883.py:5: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

/tmp/ipykernel_545/2068038883.py:6: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

ValueError: could not convert string to float: '$10,389'

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

<details><summary>Hint</summary>

```

You just need to invoke the make_graph function with the required parameter to print the graphs.The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`

```
    
</details>

In [91]:
make_graph(gme_data,gme_revenue,'GameStop')

/tmp/ipykernel_545/2068038883.py:5: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

/tmp/ipykernel_545/2068038883.py:6: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2022-02-28        | 1.2     | Lakshmi Holla | Changed the URL of GameStop |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>